table {
  margin: 0em 0.5em 0.5em 0.5em;
  background: whitesmoke;
  border-collapse: collapse;
}
table th, table td {
  border: 1px silver solid;
  padding: 0.2em;
}
table th {
  background: gainsboro;
  text-align: center;
}
table tr:nth-child(even) td {
  background: white;
}
table caption {
  margin-left: inherit;
  margin-right: inherit;
